.shop {
	background-color: $white-color;

	&__banner {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #274C5B;
    font-family: Roboto;
    font-weight: 800;
    font-size: clamp(32px, 5vw, 70px);

    height: clamp(200px, 35vw, 450px);
    background-image: url(../../image/shop/Banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	}


	&__container {
		width: 320px;
		margin: 0 auto;
		@media (min-width: 768px) {
			width: 700px;
		}
		@media (min-width: 1440px) {
			width: 1060px;
		}
		@media (min-width: 1920px) {
			width: 1420px;
		}
		> div {
			text-align: center;
			@include adaptive-value(padding-bottom, 20, 40);
		}
	}

	&__title {
		color: $dark-blue-color;
		font-family: Roboto;
		@include adaptive-value(font-size, 32, 50);
		font-weight: 800;
	}
	&__list {
    @include adaptive-value(padding-top, 20, 90);
    @include adaptive-value(padding-bottom, 30, 140);
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			justify-content: center;
		}
	}
	&__item {
		border-radius: 30px;
		background: #f9f8f8;
		padding: 15px 21px;
		margin-bottom: 30px;

		.shop-item__text {
			width: max-content;
			padding: 5px 12px;
			border-radius: 8px;
			background: $dark-blue-color;
			color: $white-color;
			font-family: 'Open Sans';
			font-size: 15px;
		}
		.shop-item__title {
			color: $dark-blue-color;
			font-family: Roboto;
			font-size: 20px;
			font-weight: 600;
			padding-bottom: 19px;
		}
		.shop-item__info {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.shop-item__info::after {
			content: '';
			position: absolute;
			transform: translate(50%, 50%);
			top: -50%;
			left: -50%;
			height: 1px;
			width: 100%;
			background-color: $ligh-grey;
		}
		.shop-item__info div {
			display: flex;
			gap: 6px;
		}
		.shop-item__price {
			font-family: 'Open Sans';
			font-size: 18px;
			font-weight: 600;
			color: $dark-blue-color;
		}
		.cancel {
			color: $ligh-grey;
			text-decoration: line-through;
		}
		@media (min-width: 768px) {
			margin-bottom: 0;
		}
	}

	&__item:last-child {
		margin-bottom: 0;
	}
	&__img {
    background-color: $white-color;
		border-radius: 30px;
		padding-block: 10px;
		position: relative;
		width: 280px;
		height: 300px;
	}
}
