.modal {
  display: none;
  position: fixed;
  top: 20%;
  right: 35%;
  height: 650px;
  width: 500px; 
  background-color: var(--color-orange);
  padding: 30px;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 30px;

    & p, #submit{
      @include fluid-text(40, 32);
    font-family: var(--font-family);
    font-weight: 700;
    line-height: 1.28;
    color: var(--color-blue-dark);
    }

   & h1, h2 {
    @include fluid-text(82, 62);
    font-weight: 700;
} 
 

  &.active {
    transform: translateX(0); 
  }

  &__message{
    @include fluid-text(40, 37);
     position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 20px 30px;
  border-radius: 12px;
  opacity: 0;
  transform: translate(-50%, -40%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 1001;
  
  }

  
   

  &__message.visible {
    opacity: 1;
  transform: translate(-50%, -50%); 
  text-align: center;
}
&__options{
   display: flex;
   flex-direction: column;
   width: 100%;
   

    gap: 20px;
}
  &__log, &__reg {
    display: flex;
    justify-content: center;
    background-color: var(--color-blue-dark);
    font-family: var(--font-family);
    padding: 15px;
    font-size: 24px;
    border-radius: 20px;
    color: white;
  }

  &__log:hover, &__reg:hover{
    background-color: var(--color-green-dark);
  }

  &__reg{
    background-color: var(--color-green);
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
    

    input {
      width: 100%;
      padding: 14px 12px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 8px;

      &:focus {
        outline: none;
        background-color: #fff;
        border-color: var(--color-green);
        box-shadow: 0 0 0 3px rgba(126, 182, 147, 0.2);
      }
    }

    #submit {
      background-color: var(--color-blue-dark);
      padding: 10px;
      border-radius: var(--border-radius);
      @include fluid-text(18, 14);
      color: white;
      max-width: 70px;
      width: 100%;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-self: center;
    }

    p {
      @include fluid-text(18, 14);
    }
  }
}

.hidden{
    display: none;
}
