@mixin fluid-text ($max: 40, $min: 18){
    font-size: clamp(#{$min}px, #{($min / 16)}rem + #{(($max - $min) / 100)}vw, #{$max}px);
}
@mixin reset-link{
    color: inherit;

    &,
    &:hover{
        text-decoration: none;
    }
}
@mixin reset-button{
    padding: 0;
    background-color: transparent;
    border: none;
}
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  align-content: center;
}

@mixin abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
