


.modal-open {
  overflow: hidden;
}

#burger {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
}

#sidebar-menu {
  position: fixed;
    
    background-color: var(--color-orange);
    padding: 20px;
    display: none;

  &.active {
    right: 0;
    display: block; 
  }
}

#close-menu {

  cursor: pointer;
  z-index: $z-sidebar + 1;
}


