$section-text-color: #7eb693;
$grey-text: #525c60;
$dark-blue-color: #274c5b;
$white-color: #fff;
$ligh-grey: #b8b8b8;
$brichen-color: #e3f1e9;
$placeholder-color: #ababab;
$gray-white-color: #f1f8f4;
$white-blue-btn-color: #eff6f1;
$footer-border-color: #d4d4d4;
$yellow-btn-color: #efd372;
$about-background-color: #f9f8f8;
