
.custom-underline {
  position: relative;
  text-decoration: none;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    
    width: 0;
    height: 3px;
    background-color: var(--color-blue-dark); 
    
    border-radius: 2px;
    transition: width 0.3s ease;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
    
  }
}
#openModalBtn:active,
#submit:active,
button svg{
    transition: transform 0.2s ease, opacity 0.2s ease;
    border-radius: 15px;
}

#openModalBtn:active,
#submit:active,
button svg:active{
  animation-name: rubberBand;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  
}

button svg:hover{
  cursor: pointer;
}

.header__logo-text:hover{
  cursor: pointer;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shrinkAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.log--shrink {
  animation: shrinkAndFade 0.4s forwards;
}

.slide-in-right {
  animation: slide-in-right 0.4s ease-out forwards;
}
.slide-out-right {
  animation: slide-out-right 0.4s ease-in forwards;
}
.fade-in {
  animation: fade-in 0.4s ease-out forwards;
}
.fade-out {
  animation: fade-out 0.4s ease-in forwards;
}

