.section-text {
  font-family: "Yellowtail";
  @include adaptive-value(font-size, 20, 36);
  color: $section-text-color;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1920px) {
  .section-text {
    font-size: 36px;
  }
}
