.section-text {
  font-family: "Yellowtail";
  @include adaptive-value(font-size, 20, 36);
  color: $section-text-color;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1920px) {
  .section-text {
    font-size: 36px;
  }
}
.subscribe {
  @include adaptive-value(margin-block, 50, 120);
  background: url(../../image/subscribe/subscribe-background.png) lightgray 50% /
    cover no-repeat;
  @media (min-width: 768px) {
    background: none;
  }
  @media (min-width: 1440px) {
  }
  @media (min-width: 1920px) {
  }
  &__container {
    @include adaptive-value(padding-block, 50, 70);
    width: 320px;
    margin: 0 auto;
    @media (min-width: 768px) {
      @include adaptive-value(width, 700, 1200);
      background: url(../../image/subscribe/subscribe-background.png) lightgray
        50% / cover no-repeat;
      border-radius: 30px;
      @include adaptive-value(padding-inline, 80, 120);
    }
    @media (min-width: 1440px) {
      width: 1060px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptive-value(padding-inline, 60, 80);
    }
    @media (min-width: 1920px) {
      padding-block: 100px;
      width: 1420px;
    }
  }
  &__title {
    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 35, 50);
    font-weight: 800;
    @include adaptive-value(margin-bottom, 10, 30);
    @media (min-width: 1440px) {
      @include adaptive-value(width, 190, 350);
      margin-bottom: 0;
    }
  }
  &__form {
    @media (min-width: 768px) {
      display: flex;
      @include adaptive-value(gap, 20, 6);
    }
    @media (min-width: 1440px) {
    }
  }
  &__input {
    width: 320px;
    height: 50px;
    background: $white-color;
    border: none;
    padding-left: 23px;
    margin-bottom: 10px;
    border-radius: 16px;
    color: $placeholder-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    @media (min-width: 768px) {
      height: 60px;
      margin-bottom: 0;
    }
    @media (min-width: 1440px) {
      @include adaptive-value(height, 50, 80);
    }
    @media (min-width: 1920px) {
      width: 360px;
    }
  }
  &__btn {
    color: $white-color;
    border-radius: 16px;
    background: #274c5b;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    width: 160px;
    border: none;
    @media (min-width: 1440px) {
      @include adaptive-value(width, 160, 190);
      @include adaptive-value(height, 50, 80);
    }
    @media (min-width: 1920px) {
      width: 220px;
    }
  }
}
