.hero {
  @include adaptive-value(padding-block, 50, 246);
  position: relative;

  &__container {
    position: relative;
    width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 700px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
      gap: 50px;

      &::after {
        content: url(../../image/homepage/hero/onion.svg);
        position: absolute;
        z-index: 2;
        top: -50%;
        left: -10%;

        @media (min-width: 1920px) {
          top: -30%;
        }
      }

      &::before {
        content: url(../../image/homepage/hero/strawberry.svg);
        position: absolute;
        z-index: 2;
        transform: translateX(-50%);
        left: 50%;
        top: -40%;

        @media (min-width: 1920px) {
          top: -10%;
        }
      }

      @media (min-width: 1440px) {
        width: 1060px;
        justify-content: space-between;
      }

      @media (min-width: 1920px) {
        width: 1420px;
      }
    }
  }

  &__wrapper {
    z-index: 999;
    position: relative;

    @media (min-width: 1440px) {
      width: 420px;
    }

    @media (min-width: 1920px) {
      width: 515px;
    }
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 34, 70);
    @include adaptive-value(padding-bottom, 15, 23);
    font-weight: 800;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    @include adaptive-value(width, 180, 220);
    @include adaptive-value(height, 60, 80);

    border-radius: 16px;
    background: $yellow-btn-color;
    border: none;

    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
  }

  &__img {
    width: 320px;
    padding-bottom: 20px;

    @media (min-width: 1440px) {
      width: 520px;
    }

    @media (min-width: 1920px) {
      width: 820px;
    }
  }

  &__svg {
    @include adaptive-value(width, 19, 22);
    @include adaptive-value(height, 19, 22);
  }

  &__mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__dekstop {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  @media (min-width: 768px) {
    &::after {
      content: url(../../image/homepage/hero/leaf.svg);
      position: absolute;
      z-index: 2;
      top: -20px;
      right: 0;
    }

    &::before {
      content: url(../../image/homepage/hero/leafs.svg);
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
    }

    @media (min-width: 1920px) {
      bottom: 20%;
    }
  }
}

.modal__blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(244, 244, 244, 0.82);
  z-index: 999;
}

.modal-blur__close {
  display: none;
}

.products {
  @include adaptive-value(padding-block, 50, 176);
  position: relative;

  &__container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 1440px) {
      width: 1060px;
    }

    @media (min-width: 1920px) {
      width: 1420px;
    }
  }

  &__wrapper {
    text-align: center;
    @include adaptive-value(padding-bottom, 20, 40);
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
  }

  &__list {
    @include adaptive-value(margin-bottom, 20, 122);

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }

  &__item {
    border-radius: 30px;
    background: #f9f8f8;
    padding: 15px 21px;
    margin-bottom: 30px;

    .products-item__title {
      color: $dark-blue-color;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 19px;
    }

    .products-item__text {
      width: max-content;
      padding: 5px 12px;
      border-radius: 8px;
      background: $dark-blue-color;
      color: $white-color;
      font-family: "Open Sans";
      font-size: 15px;
    }

    .products-item__info {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .products-item__info::after {
      content: "";
      position: absolute;
      transform: translate(50%, 50%);
      top: -50%;
      left: -50%;
      height: 1px;
      width: 100%;
      background-color: $ligh-grey;
    }

    .products-item__info div {
      display: flex;
      gap: 6px;
    }

    .products-item__price {
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 600;
      color: $dark-blue-color;
    }

    .cancel {
      color: $ligh-grey;
      text-decoration: line-through;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__img {
    border-radius: 30px;
    padding-block: 10px;
    position: relative;
    width: 280px;
    height: 300px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include adaptive-value(width, 160, 220);
    @include adaptive-value(height, 60, 80);
    border-radius: 16px;
    background: #1e1e1e;
    margin: 0 auto;

    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;

    >svg {
      @include adaptive-value(width, 19, 22);
      @include adaptive-value(height, 19, 22);
    }
  }
}

.testimonial {
  @include adaptive-value(padding-bottom, 50, 160);
  position: relative;
  overflow: hidden;

  @media (min-width: 1440px) {
    padding-top: 50px;

    &::after {
      content: url(../../image/homepage/testimonial/left.png);
      position: absolute;
      z-index: 999;
      height: 100%;
      top: 0;
      left: -10%;

      @media (min-width: 1920px) {
        left: 0;
      }
    }

    &::before {
      content: url(../../image/homepage/testimonial/right.png);
      position: absolute;
      z-index: 999;
      height: 100%;
      top: 0;
      right: -5%;

      @media (min-width: 1920px) {
        right: 0;
      }
    }
  }

  &__container {
    text-align: center;
    margin: 0 auto;
    width: 320px;

    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 1440px) {
      width: 920px;
    }

    @media (min-width: 1920px) {
      width: 1120px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-value(padding-bottom, 50, 100);
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
    @include adaptive-value(padding-bottom, 20, 50);
  }

  &__text {
    color: $grey-text;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 12, 18);
    line-height: 1.6;

    @media (min-width: 1440px) {
      max-width: 620px;
    }
  }

  &__name {
    padding-top: 15px;
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 18, 25);
    font-weight: 600;
  }

  &__border {
    border: 1px solid #e0e0e0;
  }

  &__img {
    border-radius: 50%;
    padding-bottom: 5px;
  }

  &__rait {
    padding-bottom: 10px;
  }

  &__stats {
    @include adaptive-value(padding-top, 50, 100);

    @media (min-width: 1440px) {
      display: flex;
    }
  }

  &__stat {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #7eb693;
    background-color: #f1f1f1;
    margin-bottom: 20px;

    &:last-child {
      padding-bottom: 0;
    }

    @media (min-width: 768px) {
      width: 211px;
      height: 211px;
    }
  }

  &-stat__number {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
  }

  &-stat__text {
    color: $dark-blue-color;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
  }
}

.about {
  background-color: $about-background-color;

  @include adaptive-value(padding-block, 50, 120);

  &__container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 1440px) {
      width: 1060px;
    }

    @media (min-width: 1920px) {
      width: 1420px;
      display: flex;
    }
  }

  &__img {
    width: 320px;

    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1920px) {
      width: 50%;
    }
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 30, 50);
    font-weight: 800;
    @include adaptive-value(padding-bottom, 7, 14);
  }

  &__text {
    color: $grey-text;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.6;
    @include adaptive-value(padding-bottom, 20, 48);
  }

  &__list {}

  &__item {
    padding-bottom: 20px;

    @media (min-width: 768px) {
      display: flex;
      @include adaptive-value(gap, 12, 19);
    }
  }

  &-item__img {
    padding-bottom: 15px;
  }

  &-item__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 20, 25);
    font-weight: 800;
    padding-bottom: 5px;
  }

  &-item__text {
    padding-bottom: 0;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    @include adaptive-value(width, 180, 220);
    @include adaptive-value(height, 60, 80);

    border-radius: 16px;
    background: $dark-blue-color;
    border: none;

    color: $white-color;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
  }

  &__svg {
    @include adaptive-value(width, 19, 22);
    @include adaptive-value(height, 19, 22);
  }
}

.detail {
  background-color: $white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;

  &__container {
    position: relative;
    z-index: 900;
    margin: 0 auto;
    width: 320px;
    @include adaptive-value(padding-block, 20, 50);

    & div:first-child {
      position: relative;
    }

    @media (min-width: 768px) {
      width: 700px;

      & div:first-child {
        display: flex;
        gap: 30px;
        align-items: center;
      }
    }

    @media (min-width: 1440px) {
      width: 820px;
    }

    @media (min-width: 1920px) {
      width: 1173px;
    }
  }

  &__close {
    top: 12px;
    position: absolute;
    z-index: 999;
    right: 0;
    color: $white-color;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    @include adaptive-value(height, 25, 46);
    @include adaptive-value(width, 35, 64);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #274c5b;
    border: none;

    @media (min-width: 768px) {
      top: 0;
      right: -65px;
    }
  }

  &__wrapper {
    position: relative;
  }

  &-wrapper__text {
    position: absolute;
    width: max-content;
    padding: 5px 12px;
    border-radius: 8px;
    background: $dark-blue-color;
    color: $white-color;
    font-family: "Open Sans";
    font-size: 15px;
    left: 15px;
    top: 15px;
    z-index: 2;
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 24px;
    @include adaptive-value(font-size, 24, 40);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__inf {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__img {
    position: relative;
    width: 320px;
    height: 300px;

    @media (min-width: 1920px) {
      width: 600px;
      height: 600px;
    }
  }

  &__prices {
    display: flex;
    gap: 10px;
  }

  &__price {
    color: $dark-blue-color;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__text {
    color: $grey-text;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 14, 18);
    line-height: 1.6;

    @media (min-width: 768px) {
      &:last-child {
        text-align: center;
      }
    }
  }

  &__quanity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-value(margin-block, 15, 35);

    @media (min-width: 768px) {
      padding-inline: 0;
      justify-content: left;
      gap: 10px;
    }

    @media (min-width: 1920px) {
      margin-block: 0;
      padding-top: 35px;
    }
  }

  &-quanity__text {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;
  }

  &-quantity__count {
    text-align: center;
    display: flex;
    @include adaptive-value(width, 45, 104);
    @include adaptive-value(height, 35, 70);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid $dark-blue-color;
    background: $white-color;
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;
  }

  &__btn {
    border-radius: 16px;
    background: #274c5b;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value(width, 110, 213);
    @include adaptive-value(height, 40, 70);
    gap: 8px;
    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 12, 20);
    font-weight: 700;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    margin-bottom: 10px;

    .active {
      color: $white-color;
      background: #274c5b;
    }

    @media (min-width: 768px) {
      gap: 20px;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &-btns__btn {
    border: none;
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: $white-blue-btn-color;
    color: $dark-blue-color;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 12, 20);
    font-weight: 700;

    @media (min-width: 768px) {
      @include adaptive-value(width, 140, 363);
      @include adaptive-value(height, 40, 80);
    }
  }

  &__svg {
    @include adaptive-value(width, 19, 22);
    @include adaptive-value(height, 19, 22);
  }
}

.offer {
  background-color: $dark-blue-color;

  &__container {
    width: 320px;
    margin: 0 auto;
    @include adaptive-value(padding-block, 50, 200);

    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 1440px) {
      width: 1060px;
    }

    @media (min-width: 1920px) {
      width: 1420px;
    }

    >div {
      @include adaptive-value(margin-bottom, 20, 50);
      text-align: center;
    }
  }

  &__title {
    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
    @include adaptive-value(margin-bottom, 10, 30);
  }

  &__list {
    @include adaptive-value(margin-bottom, 20, 122);

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
}

.custom-select {
  width: 200px;
  @include adaptive-value(width, 200, 200);

  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  font-family: "Roboto";
  margin: 0 auto;
}

.select-header {
  @include adaptive-value(padding, 10, 15);
  background: #fff;
  color: $dark-blue-color;
  @include adaptive-value(font-size, 16, 32);
}

.select-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  border-top: 1px solid #ccc;
  background: #fff;
  width: 100%;
}

.select-list.open {
  max-height: 210px;
}

.select-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: $dark-blue-color;
  @include adaptive-value(font-size, 16, 32);
}

.select-list li:hover {
  background: #f0f0f0;
}

.gallery {
  background: $gray-white-color;
  @include adaptive-value(padding-block, 50, 187);

  &__container {
    @include adaptive-value(width, 320, 650);
    margin: 0 auto;

    @media (min-width: 920px) {
      width: 100%;
    }
  }

  &__list {
    @media (min-width: 920px) {
      display: flex;
      gap: 35px;
      @include adaptive-value(gap, 20, 48);
    }
  }

  &__item {
    @include adaptive-value(height, 320, 550);
    @include adaptive-value(width, 320, 650);

    @media (min-width: 768px) {
      height: 220px;
      @include adaptive-value(height, 220, 650);
    }

    @media (min-width: 920px) {
      margin-bottom: 0;
    }

    margin-bottom: 20px;
    @include adaptive-value(margin-bottom, 20, 125);
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__brown {
    background: url(../../image/gallery/brown.png) lightgray 50% / cover no-repeat;
  }

  &__green {
    background: url(../../image/gallery/green.png) lightgray 50% / cover no-repeat;
  }

  &__yellow {
    background: url(../../image/gallery/yellow.png) lightgray 50% / cover no-repeat;
  }

  &__text {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;

    border-radius: 20px;
    background: #fff;
    padding: 20px 33px;

    @media (min-width: 768px) {
      @include adaptive-value(padding-block, 20, 33);
      @include adaptive-value(padding-inline, 33, 83);
    }
  }
}

.news {
  @include adaptive-value(padding-top, 50, 187);
  padding-bottom: 170px;

  @media (min-width: 768px) {
    padding-bottom: 210px;
  }

  &__container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      @include adaptive-value(width, 550, 1250);
    }

    @media (min-width: 1440px) {
      width: 1060px;
    }

    @media (min-width: 1920px) {
      width: 1420px;
    }
  }

  &__wrapper {
    padding-bottom: 20px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      @include adaptive-value(width, 450, 620);
      margin-bottom: 0;
    }
  }

  &__btn {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    @include adaptive-value(width, 160, 220);
    @include adaptive-value(height, 50, 80);
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    border: 2px solid $dark-blue-color;
    background: $white-color;
  }

  &__list {
    @media (min-width: 768px) {
      display: flex;
      gap: 40px;
      @include adaptive-value(gap, 40, 60);
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 150px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &-item__content {
    position: absolute;
    padding: 20px;
    top: 150px;
    border-radius: 31px 34px 30px 30px;
    background: $white-color;
    box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

    @media (min-width: 768px) {
      @include adaptive-value(width, 320, 460);
      @include adaptive-value(height, 220, 260);
      @include adaptive-value(top, 150, 240);
    }

    @media (min-width: 1440px) {
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: 1920px) {
      width: 580px;
      height: 320px;
      top: 280px;
      padding: 45px;
    }
  }

  &-item__name {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 14, 18);
    margin-bottom: 10px;

    @media (min-width: 1920px) {
      margin-bottom: 20px;
    }
  }

  &-item__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 20, 25);
    font-weight: 800;
    margin-bottom: 2px;
    max-width: 400px;

    @media (min-width: 1920px) {
      max-width: 600px;
    }
  }

  &-item__text {
    color: $grey-text;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 16, 18);
    line-height: 1.6;
    margin-bottom: 10px;
    max-width: 400px;

    @media (min-width: 1920px) {
      max-width: 600px;
      margin-bottom: 20px;
    }
  }

  &-item__btn {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    width: 160px;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    background: $yellow-btn-color;

    @media (min-width: 1440px) {
      @include adaptive-value(height, 160, 220);
      @include adaptive-value(height, 50, 80);
    }
  }

  &__text {
    top: 15px;
    left: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2px;
    @include adaptive-value(width, 45, 60);
    @include adaptive-value(height, 45, 60);
    border-radius: 50%;
    background-color: $white-color;
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 800;
  }

  &__img {
    border-radius: 16px;
    width: 320px;
    height: 280px;

    @media (min-width: 768px) {
      @include adaptive-value(width, 320, 460);
      @include adaptive-value(height, 280, 460);
    }

    @media (min-width: 1440px) {
      width: 500px;
      height: 420px;
    }

    @media (min-width: 1920px) {
      width: 680px;
      height: 520px;
    }
  }

  &__svg {
    @include adaptive-value(width, 17, 19);
    @include adaptive-value(height, 17, 19);
  }
}

.banner {
  @include adaptive-value(padding-bottom, 50, 100);

  &__container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 700px;
    }

    @media (min-width: 1440px) {
      width: 1060px;
    }

    @media (min-width: 1920px) {
      width: 1420px;
    }
  }

  &__list {
    @media (min-width: 768px) {
      display: flex;
      gap: 30px;
      justify-content: center;
    }

    @media (min-width: 1920px) {
      gap: 35px;
    }
  }

  &__item {
    width: 320px;
    height: 240px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    border-radius: 30px;

    &:nth-child(1) {
      background: url(../../image/homepage/banner/pink-banner.png) lightgray 50% / cover no-repeat;
    }

    &:nth-child(2) {
      background: url(../../image/homepage/banner/white-banner.png) lightgray 50% / cover no-repeat;
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      width: 360px;
      margin-bottom: 0;
    }

    @media (min-width: 1440px) {
      width: 480px;
      height: 240px;
    }

    @media (min-width: 1920px) {
      width: 660px;
      height: 376px;
    }
  }

  .white {
    color: $white-color;
  }

  &-item__title {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 40px;
    @include adaptive-value(font-size, 30, 40);
    font-weight: 800;

    @media (min-width: 1440px) {
      max-width: 280px;
    }
  }
}

.friendly {
  position: relative;
  background: url(../../image/homepage/eco-friendly/eco-1x.avif) lightgray 50% / cover no-repeat;
  padding-block: 50px;

  @media (min-width: 1440px) {
    background: none;
    padding-block: 0;
  }

  &__container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 420px;
    }

    @media (min-width: 1440px) {
      @media (min-width: 1440px) {
        display: flex;
        width: auto;
        margin: 0;
        padding-block: 0;
        align-items: center;
      }
    }

    @media (min-width: 1920px) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    position: absolute;
    left: 0;
    display: none;

    @media (min-width: 1440px) {
      position: relative;
      display: block;
      width: 100%;
      height: 720px;
    }

    @media (min-width: 1920px) {
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    background-color: $white-color;
    padding: 25px;

    @media (min-width: 1440px) {
      width: 620px;
      position: relative;
      left: -40px;
      border-radius: 30px;
    }

    @media (min-width: 1920px) {
      width: 740px;
      padding: 50px;
    }
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 24, 50);
    font-weight: 800;
    @include adaptive-value(margin-bottom, 15, 35);

    @media (min-width: 1920px) {
      max-width: 520px;
    }
  }

  &__list {}

  &__item {
    @include adaptive-value(padding-bottom, 15, 50);

    &:last-child {
      padding-bottom: 0;
    }
  }

  &-item__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 14, 25);
    font-weight: 500;
    margin-bottom: 4px;
  }

  &-item__text {
    color: $grey-text;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 12, 18);
    line-height: 1.6;
  }
}