.products {
  @include adaptive-value(padding-top, 50, 176);
  &__container {
    width: 320px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 700px;
    }
    @media (min-width: 1440px) {
      width: 1060px;
    }
    @media (min-width: 1920px) {
      width: 1420px;
    }
    > div {
      text-align: center;
      @include adaptive-value(padding-bottom, 20, 40);
    }
  }

  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
  }
  &__list {
    @include adaptive-value(margin-bottom, 20, 122);
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
  &__item {
    border-radius: 30px;
    background: #f9f8f8;
    padding: 15px 21px;
    margin-bottom: 30px;

    .products-item__text {
      width: max-content;
      padding: 5px 12px;
      border-radius: 8px;
      background: $dark-blue-color;
      color: $white-color;
      font-family: "Open Sans";
      font-size: 15px;
    }
    .products-item__title {
      color: $dark-blue-color;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 19px;
    }
    .products-item__info {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .products-item__info::after {
      content: "";
      position: absolute;
      transform: translate(50%, 50%);
      top: -50%;
      left: -50%;
      height: 1px;
      width: 100%;
      background-color: $ligh-grey;
    }
    .products-item__info div {
      display: flex;
      gap: 6px;
    }
    .products-item__price {
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 600;
      color: $dark-blue-color;
    }
    .cancel {
      color: $ligh-grey;
      text-decoration: line-through;
    }
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
  &__img {
    border-radius: 30px;
    padding-block: 10px;
    position: relative;
    width: 280px;
    height: 300px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include adaptive-value(width, 160, 220);
    @include adaptive-value(height, 60, 80);
    border-radius: 16px;
    background: #1e1e1e;
    margin: 0 auto;

    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;

    > svg {
      @include adaptive-value(width, 19, 22);
      @include adaptive-value(height, 19, 22);
    }
  }
}
