.modal__blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(244, 244, 244, 0.82);
  z-index: 999;
}
.modal-bur__close {
  display: none;
}
.products {
  @include adaptive-value(padding-bottom, 50, 176);
  position: relative;
  &__container {
    width: 320px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 700px;
    }
    @media (min-width: 1440px) {
      width: 1060px;
    }
    @media (min-width: 1920px) {
      width: 1420px;
    }
  }
  &__wrapper {
    text-align: center;
    @include adaptive-value(padding-bottom, 20, 40);
  }
  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
  }
  &__list {
    @include adaptive-value(margin-bottom, 20, 122);
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
  &__item {
    border-radius: 30px;
    background: #f9f8f8;
    padding: 15px 21px;
    margin-bottom: 30px;

    .products-item__title {
      color: $dark-blue-color;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 19px;
    }
    .products-item__text {
      width: max-content;
      padding: 5px 12px;
      border-radius: 8px;
      background: $dark-blue-color;
      color: $white-color;
      font-family: "Open Sans";
      font-size: 15px;
    }
    .products-item__info {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .products-item__info::after {
      content: "";
      position: absolute;
      transform: translate(50%, 50%);
      top: -50%;
      left: -50%;
      height: 1px;
      width: 100%;
      background-color: $ligh-grey;
    }
    .products-item__info div {
      display: flex;
      gap: 6px;
    }
    .products-item__price {
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 600;
      color: $dark-blue-color;
    }
    .cancel {
      color: $ligh-grey;
      text-decoration: line-through;
    }
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
  &__img {
    border-radius: 30px;
    padding-block: 10px;
    position: relative;
    width: 280px;
    height: 300px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include adaptive-value(width, 160, 220);
    @include adaptive-value(height, 60, 80);
    border-radius: 16px;
    background: #1e1e1e;
    margin: 0 auto;

    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;

    > svg {
      @include adaptive-value(width, 19, 22);
      @include adaptive-value(height, 19, 22);
    }
  }
}

.detail {
  background-color: $white-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;
  &__container {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    width: 320px;
    @include adaptive-value(padding-block, 20, 50);
    & div:first-child {
      position: relative;
    }
    @media (min-width: 768px) {
      width: 700px;
      & div:first-child {
        display: flex;
        gap: 30px;
        align-items: center;
      }
    }
    @media (min-width: 1440px) {
      width: 820px;
    }
    @media (min-width: 1920px) {
      width: 1173px;
    }
  }
  &__close {
    top: 12px;
    position: absolute;
    z-index: 999;
    right: 0;
    color: $white-color;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    @include adaptive-value(height, 25, 46);
    @include adaptive-value(width, 35, 64);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #274c5b;
    border: none;
    @media (min-width: 768px) {
      top: 0;
      right: -65px;
    }
  }
  &__wrapper {
    position: relative;
  }
  &-wrapper__text {
    position: absolute;
    width: max-content;
    padding: 5px 12px;
    border-radius: 8px;
    background: $dark-blue-color;
    color: $white-color;
    font-family: "Open Sans";
    font-size: 15px;
    left: 15px;
    top: 15px;
    z-index: 2;
  }
  &__title {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 24px;
    @include adaptive-value(font-size, 24, 40);
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__inf {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 15px;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__img {
    position: relative;
    width: 320px;
    height: 300px;
    @media (min-width: 1920px) {
      width: 600px;
      height: 600px;
    }
  }
  &__prices {
    display: flex;
    gap: 10px;
  }
  &__price {
    color: $dark-blue-color;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__text {
    color: $grey-text;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 14, 18);
    line-height: 1.6;
    @media (min-width: 768px) {
      &:last-child {
        text-align: center;
      }
    }
  }
  &__quanity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-value(margin-block, 15, 35);
    @media (min-width: 768px) {
      padding-inline: 0;
      justify-content: left;
      gap: 10px;
    }
    @media (min-width: 1920px) {
      margin-block: 0;
      padding-top: 35px;
    }
  }
  &-quanity__text {
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;
  }
  &-quantity__count {
    display: flex;
    @include adaptive-value(width, 45, 104);
    @include adaptive-value(height, 35, 70);
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid $dark-blue-color;
    background: $white-color;
    color: $dark-blue-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 16, 20);
    font-weight: 700;
  }
  &__btn {
    border-radius: 16px;
    background: #274c5b;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive-value(width, 110, 213);
    @include adaptive-value(height, 40, 70);
    gap: 8px;
    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 12, 20);
    font-weight: 700;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    margin-bottom: 10px;
    .active {
      color: $white-color;
      background: #274c5b;
    }
    @media (min-width: 768px) {
      gap: 20px;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  &-btns__btn {
    border: none;
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: $white-blue-btn-color;
    color: $dark-blue-color;
    font-family: "Open Sans";
    @include adaptive-value(font-size, 12, 20);
    font-weight: 700;
    @media (min-width: 768px) {
      @include adaptive-value(width, 140, 363);
      @include adaptive-value(height, 40, 80);
    }
  }

  &__svg {
    @include adaptive-value(width, 19, 22);
    @include adaptive-value(height, 19, 22);
  }
}

.offer {
  background-color: $dark-blue-color;
  &__container {
    width: 320px;
    margin: 0 auto;
    @include adaptive-value(padding-block, 50, 200);
    @media (min-width: 768px) {
      width: 700px;
    }
    @media (min-width: 1440px) {
      width: 1060px;
    }
    @media (min-width: 1920px) {
      width: 1420px;
    }
    > div {
      @include adaptive-value(margin-bottom, 20, 50);
      text-align: center;
    }
  }
  &__title {
    color: $white-color;
    font-family: Roboto;
    @include adaptive-value(font-size, 32, 50);
    font-weight: 800;
    @include adaptive-value(margin-bottom, 10, 30);
  }
  &__list {
    @include adaptive-value(margin-bottom, 20, 122);
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }
}
.custom-select {
  width: 200px;
  @include adaptive-value(width, 200, 200);

  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  font-family: "Roboto";
  margin: 0 auto;
}

.select-header {
  @include adaptive-value(padding, 10, 15);
  background: #fff;
  @include adaptive-value(font-size, 16, 32);
}

.select-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  border-top: 1px solid #ccc;
  background: #fff;
  width: 100%;
}

.select-list.open {
  max-height: 210px;
}

.select-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  @include adaptive-value(font-size, 16, 32);
}

.select-list li:hover {
  background: #f0f0f0;
}
.gallery {
  background: $gray-white-color;
  @include adaptive-value(padding-block, 50, 187);
  &__container {
    @include adaptive-value(width, 320, 650);
    margin: 0 auto;
    @media (min-width: 920px) {
      width: 100%;
    }
  }
  &__list {
    @media (min-width: 920px) {
      display: flex;
      gap: 35px;
      @include adaptive-value(gap, 20, 48);
    }
  }
  &__item {
    @include adaptive-value(height, 320, 550);
    @include adaptive-value(width, 320, 650);
    @media (min-width: 768px) {
      height: 220px;
      @include adaptive-value(height, 220, 650);
    }
    @media (min-width: 920px) {
      margin-bottom: 0;
    }

    margin-bottom: 20px;
    @include adaptive-value(margin-bottom, 20, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__brown {
    background: url(../../image/gallery/brown.png) lightgray 50% / cover
      no-repeat;
  }
  &__green {
    background: url(../../image/gallery/green.png) lightgray 50% / cover
      no-repeat;
  }
  &__yellow {
    background: url(../../image/gallery/yellow.png) lightgray 50% / cover
      no-repeat;
  }
  &__text {
    color: $dark-blue-color;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;

    border-radius: 20px;
    background: #fff;
    padding: 20px 33px;
    @media (min-width: 768px) {
      @include adaptive-value(padding-block, 20, 33);
      @include adaptive-value(padding-inline, 33, 83);
    }
  }
}
