* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.products {
  padding-top: calc(50px + 126 * (100vw - 375px) / (1920 - 375));
}
.products__container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .products__container {
    width: 700px;
  }
}
@media (min-width: 1440px) {
  .products__container {
    width: 1060px;
  }
}
@media (min-width: 1920px) {
  .products__container {
    width: 1420px;
  }
}
.products__container > div {
  text-align: center;
  padding-bottom: calc(20px + 20 * (100vw - 375px) / (1920 - 375));
}
.products__title {
  color: #274c5b;
  font-family: Roboto;
  font-size: calc(32px + 18 * (100vw - 375px) / (1920 - 375));
  font-weight: 800;
}
.products__list {
  margin-bottom: calc(20px + 102 * (100vw - 375px) / (1920 - 375));
}
@media (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
.products__item {
  border-radius: 30px;
  background: #f9f8f8;
  padding: 15px 21px;
  margin-bottom: 30px;
}
.products__item .products-item__text {
  width: -moz-max-content;
  width: max-content;
  padding: 5px 12px;
  border-radius: 8px;
  background: #274c5b;
  color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
}
.products__item .products-item__title {
  color: #274c5b;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 19px;
}
.products__item .products-item__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__item .products-item__info::after {
  content: "";
  position: absolute;
  transform: translate(50%, 50%);
  top: -50%;
  left: -50%;
  height: 1px;
  width: 100%;
  background-color: #b8b8b8;
}
.products__item .products-item__info div {
  display: flex;
  gap: 6px;
}
.products__item .products-item__price {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  color: #274c5b;
}
.products__item .cancel {
  color: #b8b8b8;
  text-decoration: line-through;
}
@media (min-width: 768px) {
  .products__item {
    margin-bottom: 0;
  }
}
.products__item:last-child {
  margin-bottom: 0;
}
.products__img {
  border-radius: 30px;
  padding-block: 10px;
  position: relative;
  width: 280px;
  height: 300px;
}
.products__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: calc(160px + 60 * (100vw - 375px) / (1920 - 375));
  height: calc(60px + 20 * (100vw - 375px) / (1920 - 375));
  border-radius: 16px;
  background: #1e1e1e;
  margin: 0 auto;
  color: #fff;
  font-family: Roboto;
  font-size: calc(16px + 4 * (100vw - 375px) / (1920 - 375));
  font-weight: 700;
}
.products__btn > svg {
  width: calc(19px + 3 * (100vw - 375px) / (1920 - 375));
  height: calc(19px + 3 * (100vw - 375px) / (1920 - 375));
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../../fonts/open-sans-v43-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Yellowtail";
  font-weight: 400;
  src: url("../../fonts/YellowtailRegular.woff2") format("woff2");
}
.section-text {
  font-family: "Yellowtail";
  font-size: calc(20px + 16 * (100vw - 375px) / (1920 - 375));
  color: #7eb693;
  padding-bottom: 4px;
}

@media (min-width: 1920px) {
  .section-text {
    font-size: 36px;
  }
}
.service-single__container {
  max-width: 1400px;
  margin: 0 auto;
}
.service-single__banner {
  background-image: url(../../image/);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
}
.service-single__banner p {
  position: absolute;
  font-size: 70px;
}
.service-single__banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-single__title {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.service-single__text {
  color: #525C60;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.service-single-store {
  padding: 181px 0px 131px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;
}
.service-single-store__content {
  display: flex;
  width: 936px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.service-single-store__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.service-single-store__heading p {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.service-single-store__cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}
.service-single-store__why-organik {
  display: flex;
  align-items: center;
  gap: 20px;
}
.service-single-store__why-organik img {
  width: 379px;
  height: 252px;
}
.service-single-store__card {
  display: flex;
  padding: 63px 45px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: #F9F8F8;
}
.service-single-store__card h3 {
  font-size: 25px;
}
.service-single-store__produce {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}
.service-single-store__subcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 59px;
}
.service-single-store__subcontent-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
}
.service-single-store__subcontent-text h3 {
  font-size: 35px;
}
.service-single-store__points {
  display: flex;
  width: 820px;
  align-items: flex-start;
  gap: 28px;
}
.service-single-store__point {
  display: flex;
  padding: 15px 53px 15px 17px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 100px;
  background: #F9F8F8;
}
.service-single-store__ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 69px;
  height: 69px;
}
.service-single-store__ellipse p {
  color: #FFF;
  font-size: 25px;
  font-weight: 700;
  z-index: 1;
}
.service-single-store__ellipse svg {
  position: absolute;
  width: 69px;
  height: 69px;
}
.service-single-store__point-text {
  display: flex;
  align-items: center;
  gap: 19px;
}
.service-single-store__point-text p {
  font-size: 25px;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */