
.services__container {
  max-width: 320px;
  margin: 0 auto;
  background-color: $white-color;
}
.services__container__wrapper{
  &__wrapper{
    width: 100%;
    margin: 0 auto;
  }
}

.services__photo {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.subtitle {
  color: $section-text-color;
  font-family: 'Yellowtail', cursive;
  font-size: 18px;
  font-weight: 400;
}

.title {
  color:$dark-blue-color;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 800;
  &__break{
    display: block;
  }
}
.text{
  color: $grey-text;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; 
}

.agriculture {
  padding: 40px 0;
  text-align: center;
}

.agriculture__flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.agriculture__col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.agriculture-item {
  padding: 0 5px;
}

.agriculture-item__heading {
  padding: 5px 0 5px;
  font-size: 18px;
}

.agriculture-item__text {
  font-size: 14px;
}

.agriculture-item__icon {

  width: 30px;
  height: 30px;
  z-index: 1;
}
.agriculture-item__icon-wrapper{
  display: flex;
  justify-content: center;
}

.agriculture-item__ellipse {
  z-index: 0;
  display: none;
}
.agriculture__center-image {
  display: none;
}

.explore-button {
  padding: 15px 20px;
  font-size: 16px;
  display: inline-flex;
  border-radius: 16px;
  border: 2px solid #335b6b;
  background: #f9f8f8;
  color: $dark-blue-color;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $dark-blue-color;
    color: $white-color;
  }
  &__icon{
    width: 14px;
    height: 14px;
  }
}

.organic-only {
  display: flex;
  justify-content: center;
  background-image: url('../../image/service/Organic-Only/Flowers.png');
  background-size: cover;
  background-position: center;
}

.organic-only__flex {
  padding-top: 40px;
  padding-bottom: 150px;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.organic-only__col{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.organic-only__big-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.organic-only__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.organic-only__video-icon {
  width: 60px;
  height: 60px;
  background-color: $section-text-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    position: absolute;
    fill: currentColor;
    width: 20px;
    height: 20px;
    color: $white-color;
  }
}

  @media (min-width: 756px) {
  .services {
    &__container {
      max-width: 700px;
    }
    &__photo {
      height: 300px;
    }
  }
  .services__agriculture{
    padding: 35px 0;
    text-align: center;
  }

.left{
  display: flex;
  justify-content: flex-end;
}
.right{
  display: flex;
  justify-content: flex-start;
}
  .agriculture-item{

    &__icon-wrapper{
      position: relative;
      width: 26px;
    }
    &__icon {
      height: 26px;
      width: 26px;
    }

    &__ellipse {
      transform: rotate(120deg);
      display: flex;
      height: 14px;
      width: 14px;
      position: absolute;
      bottom: -10%;

    }

    &__ellipse--left {
      left: 15px;
    }
    &__ellipse--right{
      right: 15px; 
      left: auto;
    }

    &__heading {
      font-size: 18px;
    }

    &__text {
      font-size: 11px;
      line-height: 120%;
    }
  }

  .agriculture__flex {
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center;
    gap: 15px;

  }

  .agriculture__col {
    display: flex;
    gap: 18px;

    &--left {
      align-items: flex-end;
      text-align: right;
    }
    
    &--right {
      align-items: flex-start;
      text-align: left;
    }
  }

.agriculture__center-image{
    display: flex;
    align-items: center;
  
    img {
      width: 320px;
      height: 520px;
      object-fit: cover;
    }  
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 24px;
  }
.explore-button{
  padding: 15px 20px 17px 20px;
  &__icon{
    width: 16px;
    height: 16px;
  }
}
.organic-only {

  &__flex {
    padding: 75px 0 200px; 
    gap: 24px;
    max-width: 500px;
  }

  &__col {
    gap: 16px;
  }
  &__big-text{
    gap: 4px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 165.4%;
  }

}
}
.organic-only__video-icon {
  width: 70px;
  height: 70px;
  svg {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1440px) {
  .services {
    &__container{
      max-width: 1200px;
    }
    &__photo {
      height: 350px;
    }
  }
  .services__agriculture{
    padding: 150px 0;
    
  }

  .agriculture__col{
    padding-top: 35px;
    padding-bottom: 80px;
  }
  .agriculture-item{
    &__icon {
      height: 36px;
      width: 36px;
    }

    &__ellipse {
      height: 18px;
      width: 18px;
    }

    &__heading {
      font-size: 22px;
    }

    &__text {
      font-size: 16px;
      line-height: 140%;
    }
  }

  .agriculture__col {
    gap: 28px;
  }

  .agriculture__center-image img {
    width: 500px;
    height: 700px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 32px;
  }
  .explore-button{
    padding: 20px 25px 20px 25px;
    font-size: 20px;
    &__icon{
      width: 18px;
      height: 18px;
    }
  }
.organic-only {
  &__flex {
    padding: 170px 0 450px;
    max-width: 671px;
    gap: 40px;
  }
  &__col {
    gap: 20px;
  }

  &__text {
    font-size: 20px;
  }
&__video-icon{
  width: 100px;
  height: 100px;
  svg{
    height: 30px;
    width: 30px;
  }
}

}
}
@media (min-width: 1920px){
  .services {
    &__container{
      max-width: 1400px;
    }
    &__photo {
      height: 450px;
    }
  }
  
  .subtitle {
    font-size: 36px;
    font-weight: 400;
  }
  
  .title {
    font-size: 50px;
    font-weight: 800;
  }
  .agriculture {
    padding: 202px 0 201px 0;
  
    &__col {
      width: 396px;
      padding-top: 45px;
      padding-bottom: 45px;
      gap: 39px;
    }
  
    .agriculture-item {
      gap: 5px;

      &__ellipse--left {
        left: 15px;
      }
      &__ellipse--right{
        right: 15px;
      }
  
      &__icon {
        width: 42px;
        height: 42px;
      }
  
      &__ellipse {
        width: 24px;
        height: 24px;
      }
  
      &__heading {
        font-size: 25px;
        font-weight: 600;
      }
  
      &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 165.4%;
      }
    }
  }
  .agriculture__center-image img {
    width:  580px;
    height: 800px;
  }
  
  .explore-button{
    padding: 28px 36px 28px 36px;
    font-size: 20px;
    gap: 10px;
    &__icon{
      width: 19px;
      height: 19px;
    }
  }
  .organic-only {
  
    &__flex {
      padding: 179px 0 538px ;
      gap: 50px;
    }
    &__col{
      gap: 24px;
    }
    &__big-text {
      gap: 7px;
    }
  
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 165.4%;
    }
  
    &__video-icon {
      width: 107px;
      height: 107px;
      svg{
        width: 35px;
        height: 35px;
      }
    }
  }
}
